
.font-80
{
    font-size: 80px!important;
}
.font-70
{
    font-size: 70px!important;
}
.font-60
{
    font-size: 60px!important;
}
.font-50
{
    font-size: 50px!important;
}
.font-40
{
    font-size: 40px!important;
}
.font-35
{
    font-size: 35px!important;
}

.font-30
{
    font-size: 30px!important;
}
.font-28
{
    font-size: 28px!important;
}
.font-26
{
    font-size: 26px!important;
}
.font-25
{
    font-size: 25px!important;
}
.font-24
{
    font-size: 24px!important;
}
.font-22
{
    font-size: 22px!important;
}
.font-20
{
    font-size: 20px!important;
}
.font-19
{
    font-size: 19px!important;
}
.font-18
{
    font-size: 18px!important;
}
.font-17
{
    font-size: 17px!important;
}
.font-16
{
    font-size: 16px!important;
}
.font-15
{
    font-size: 15px!important;
}
.font-14
{
    font-size: 14px!important;
}.font-10
 {
     font-size: 10px!important;
 }
.font-11
{
    font-size: 11px!important;
}

.font-12
{
    font-size: 12px!important;
}
.font-13
{
    font-size: 13px!important;
}
.text-line-25{
    line-height: 25px!important;
}
.text-line-30{
    line-height: 30px!important;
}
.text-line-35{
    line-height: 35px!important;
}
.text-line-40{
    line-height: 40px!important;
}
