<template>
    <div class="container-fluid">
        <div class="row mt-5 mb-5">
            <div class="col-md-3 mb-3">
                <main_menu class="app-fade-in"></main_menu>
            </div>
            <div class="col-md-9">

                <div class="card app-fade-in">
                    <div class="card-body">
                        <h6 class="text-danger">لیست همه فاکتور های سفارشات از فروشگاه چارسو</h6>
                        <hr>
                        <div class="mt-5 mb-3">
                            <template v-if="!items.length">
                                <div class="mt-5">
                                    <div class="row justify-content-center">
                                        <div class="col-md-7">
                                            <div class="alert alert-primary text-center">
                                                کاربر گرامی در حال حاضر هیچ فاکتوری در فروشگاه چارسو برای شما ثبت نشده است .
                                                <br>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="alert alert-primary">
                                    <h6 class="font-14">نکته : </h6>
                                    <p class="text-justify">
                                        برای پرداخت فاکتور و مشاهده همه جزئیات سفارش ، با کلیک روی دکمه <span class="btn btn-info font-12 mr-1 ml-1">مشاهده جزئیات</span> وارد صفحه جزئیات سفارش شوید.
                                    </p>
                                </div>
                                <div class="table-responsive">

                                    <table class="table table-bordered text-center">
                                        <thead>
                                        <tr class="bg-dark text-light">
                                            <th>کد فاکتور</th>
                                            <th>مبلغ</th>
                                            <th>وضعیت پرداخت</th>
                                            <th>جزئیات</th>
                                            <th>تاریخ ثبت</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item,index) in items" :key="index">
                                            <td>
                                                <span class="badge badge-primary font-13 p-2">{{item.code}}</span>
                                            </td>
                                            <td>
                                                <span class="font-weight-bold font-15 text-success ml-1">
                                                    {{this.NumberFormatter(item.price)}}
                                                </span>
                                                تومان
                                            </td>
                                            <td>
                                                <span v-if="item.is_pay" class="font-weight-bold font-14 text-success">
                                                    <i class="mdi mdi-check-circle font-20"></i>
                                                    پرداخت شده
                                                </span>
                                                <span v-else class="font-weight-bold font-14 text-danger">
                                                    <i class="mdi mdi-cancel font-20"></i>
                                                    پرداخت نشده
                                                </span>
                                            </td>
                                            <td>
                                                <router-link :to="{name : 'customer_shop_invoices_details',params : {id : item.id}}" class="btn btn-info font-14">
                                                    مشاهده جزئیات
                                                </router-link>
                                            </td>
                                            <td>
                                                <span class="badge badge-dark font-13">
                                                    {{this.$filters.date(item.created_at)}}
                                                </span>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<script>
import Customer_Main_Menu from "./Customer_Main_Menu";

export default {
    name: "Customer_Shop_Invoices",
    created() {
        this.GetItems();
    },
    components : {
        main_menu : Customer_Main_Menu
    },
    data(){
        return {
            items : [],
        }
    },
    methods:{
        GetItems(){
            axios.get('/api/customer/shopping/invoices').then(res => {
                this.items = res.data
            }).catch(e => {
                Sweet.SweetServerErrorMessage();
            })
        }


    }
}
</script>

<style scoped>

</style>
