<template>
    <page_title :title="'داشبورد مدیریت چارسو'"></page_title>
    <main_counter></main_counter>
    <div class="row">
        <div class="col-md-6">
            <waiting_order></waiting_order>
        </div>
        <div class="col-md-6">
            <running_order></running_order>
        </div>
        <div class="col-12">
            <shop></shop>
        </div>

    </div>

</template>

<script>
import Manage_Dashboard_Inc_Main_Counter from "./includes/Manage_Dashboard_Inc_Main_Counter";
import Manage_Dashboard_WaitingOrders from "./Manage_Dashboard_WaitingOrders";
import Manage_Dashboard_RunningOrders from "./Manage_Dashboard_RunningOrders";
import Manage_Dashboard_Shop from "./Manage_Dashboard_Shop";

export default {
    name: "Manage_Dashboard",
    components : {
        'main_counter' : Manage_Dashboard_Inc_Main_Counter,
        'waiting_order' : Manage_Dashboard_WaitingOrders,
        'running_order' : Manage_Dashboard_RunningOrders,
        'shop' : Manage_Dashboard_Shop,
    }
}
</script>

<style scoped>

</style>
