<template>
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">سفارشات در انتظار سرویس کار</h4>
                <div class="flex-shrink-0">
                    <div class="align-self-start">
                        <router-link :to="{name : 'manage_orders_new'}" class="btn btn-primary">مشاهده همه سفاراشات</router-link>
                    </div>
                </div>

            </div><!-- end card header -->

            <div class="card-body px-0 pt-2">
                <div class="table-responsive">
                    <table class="table table-nowrap">
                        <thead>
                            <tr>
                                <th>مشتری</th>
                                <th>موبایل</th>
                                <th>شهر</th>
                                <th>منطقه</th>
                                <th>ابزار</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-if="loading">
                                <tr><placeholder-text></placeholder-text></tr>
                                <tr><placeholder-text></placeholder-text></tr>
                                <tr><placeholder-text></placeholder-text></tr>
                                <tr><placeholder-text></placeholder-text></tr>
                                <tr><placeholder-text></placeholder-text></tr>
                            </template>
                            <template v-else>
                                <tr v-if="items.length" v-for="(item,index) in items" :key="index">
                                    <td>
                                        <span class="text-danger">{{item.customer.name}}</span>
                                    </td>
                                    <td>
                                        <a :href="'tel:'+item.customer.phone">
                                        {{item.customer.phone}}
                                        </a>
                                    </td>
                                    <td>
                                        {{item.city.name}}
                                    </td>
                                    <td>
                                        {{item.zone.name}}
                                    </td>
                                    <td width="12%">
                                        <button @click="GetActiveServicemans" data-bs-toggle="modal" :data-bs-target="'#add_serviceman'+item.id" title="تخصیص سرویس کار" type="button" class="btn btn-sm btn-success waves-effect waves-light me-2"><i class="bx bx-user-plus font-size-16 align-middle"></i></button>
                                        <div class="modal fade" :id="'add_serviceman'+item.id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myLargeModalLabel">تخصیص سرویس کار به سفارش # {{item.id}}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-success">
                                                            انتخاب از بین سرویس کاران بدون سفارش فعال و آنلاین
                                                        </div>
                                                        <div>
                                                            <v-select :options="activeservicemans" v-model="add_serviceman_id" :label="'name'" :reduce="(option) => option.id" />

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">
                                                            <i class="bx bx-x font-size-18 align-middle"></i> بستن
                                                        </button>
                                                        <button @click="SetServiceman(item.id)" type="button" class="btn btn-success waves-effect waves-light">
                                                            <i class="bx bx-check font-size-18 align-middle"></i> تخصیص سرویس کار
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button @click="DelItem(item.id)" title="حذف آیتم" type="button" class="btn btn-sm btn-danger waves-effect waves-light me-2"><i class="bx bx-trash font-size-16 align-middle"></i></button>
                                    </td>
                                </tr>
                                <tr v-else>
                                    <td colspan="5">
                                        <div class="alert alert-primary text-center">
                                            هیچ سفارش درحال انتظاری وجود ندارد !
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- end card body -->
        </div>
</template>

<script>
import Sweet from "../../../helpers/Sweet";
import Swal from "sweetalert2";
import vSelect from "vue-select";

export default {
    name: "Manage_Dashboard_WaitingOrders",
    components:{
        vSelect,
    },
    created() {
      this.GetItems();
    },
    data(){
        return {
            loading : true,
            items:[],
            add_serviceman_id:null,
            activeservicemans:[],
        }
    },
    methods:{
        GetItems(){
            axios.get('/api/management/dashboard/orders/waiting').then(res => {
                this.items = res.data;
                this.loading = false;
            }).catch(e => {
                this.loading = false;
                return Sweet.SweetServerErrorMessage();
            })
        },
        GetActiveServicemans(){
            axios.get('/api/management/servicemans/no-busy').then(res => {
                this.activeservicemans = res.data;
            })

        },
        SetServiceman(order){
            if (this.add_serviceman_id === null){
                return Sweet.SweetToastMessage('ابتدا سرویس کار مورد نظر را انتخاب کنید','error');
            }
            axios.post('/api/management/orders/'+order+'/set/serviceman',{serviceman : this.add_serviceman_id}).then(res => {
                this.GetItems();
                $('#add_serviceman'+order).modal('hide');
                return Sweet.SweetToastMessage(res.data);
            }).catch(e=>{
                Sweet.SweetServerErrorMessage();
            })
        },
        DelItem(id){
            Swal.fire({
                title: 'آیا مطمئن هستید',
                text: "سفارش مورد نظر را حذف کنید. درصورت حذف ، سفارش غیرقابل بازیابی خواهد بود !",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#26a852',
                cancelButtonColor: '#d33',
                cancelButtonText : 'خیر',
                confirmButtonText: 'حذف شود'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get('/api/management/orders/'+id+'/remove').then(res =>{
                        Sweet.SweetToastMessage(res.data)
                        this.GetItems();
                    }).catch(e=>{
                        Sweet.SweetServerErrorMessage();
                    })
                }
            })
        },

    }
}
</script>

<style scoped>

</style>
