<template>
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">اطلاعات کلی فروشگاه</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <counter_products :counter="products"></counter_products>
                </div>
                <div class="col-md-3">
                    <counter_sell_products :counter="sell_products"></counter_sell_products>
                </div>
                <div class="col-md-3">
                    <counter_sell_month :counter="sell_month"></counter_sell_month>
                </div>
                <div class="col-md-3">
                    <counter_sell_year :counter="sell_total"></counter_sell_year>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
import Manage_Dashboard_Inc_Shop_Products_Counter from "./includes/Manage_Dashboard_Inc_Shop_Products_Counter";
import Manage_Dashboard_Inc_Shop_Sell_Products_Counter from "./includes/Manage_Dashboard_Inc_Shop_Sell_Products_Counter";
import Manage_Dashboard_Inc_Shop_Month_Sell_Counter from "./includes/Manage_Dashboard_Inc_Shop_Month_Sell_Counter";
import Manage_Dashboard_Inc_Shop_Year_Sell_Counter from "./includes/Manage_Dashboard_Inc_Shop_Year_Sell_Counter";

export default {
    name: "Manage_Dashboard_Shop",
    created() {
        this.GetData();
    },
    data(){
        return {
            products:null,
            sell_products:null,
            sell_month:null,
            sell_total:null,
        }
    },
    methods : {
        GetData(){
            axios.get('/api/management/dashboard/shop/main').then(res => {
                this.products = res.data.product_count;
                this.sell_products = res.data.sell_products;
                this.sell_month = res.data.sell_month;
                this.sell_total = res.data.sell_total;
            }).catch(e => {
                return Sweet.SweetServerErrorMessage();
            })
        }
    },
    components:{
        "counter_products" : Manage_Dashboard_Inc_Shop_Products_Counter,
        "counter_sell_products" : Manage_Dashboard_Inc_Shop_Sell_Products_Counter,
        "counter_sell_month" : Manage_Dashboard_Inc_Shop_Month_Sell_Counter,
        "counter_sell_year" : Manage_Dashboard_Inc_Shop_Year_Sell_Counter,
    }
}
</script>

<style scoped>

</style>
