<template>
    <div class="card bg-soft-danger">
        <div class="card-body">
            <template v-if="counter !== null" class="app-fade-in">
                <strong class="font-size-15 text-dark">سرویس کاران</strong>
                <span class="float-end img-fluid">
                <img src="/images/default/servicemans.png" width="70" alt="">
            </span>
                <h5 class="mt-2">{{ counter }}</h5> سرویس کار
            </template>
            <template v-else >
                <placeholder-text></placeholder-text>
                <placeholder-text></placeholder-text>
                <placeholder-text></placeholder-text>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    name: "Manage_Dashboard_Inc_Counter_Servicemans",
    props :['counter']

}
</script>

<style scoped>

</style>
