<template>
    <div class="row">
        <div class="col-md-3">
            <customers :counter="customers"></customers>
        </div>
        <div class="col-md-3">
            <servicemans :counter="servicemans"></servicemans>
        </div>
        <div class="col-md-3">
            <orders :counter="orders"></orders>
        </div>
        <div class="col-md-3">
            <orders_all :counter="orders_all"></orders_all>
        </div>

    </div>
</template>

<script>
import Manage_Dashboard_Inc_Counter_Customers from "./Manage_Dashboard_Inc_Counter_Customers";
import Manage_Dashboard_Inc_Counter_Servicemans from "./Manage_Dashboard_Inc_Counter_Servicemans";
import Manage_Dashboard_Inc_Counter_Orders from "./Manage_Dashboard_Inc_Counter_Orders";
import Manage_Dashboard_Inc_Counter_Orders_All from "./Manage_Dashboard_Inc_Counter_Orders_All";

export default {
    name: "Manage_Dashboard_Inc_Main_Counter",
    components : {
        'customers' : Manage_Dashboard_Inc_Counter_Customers,
        'servicemans' : Manage_Dashboard_Inc_Counter_Servicemans,
        'orders' : Manage_Dashboard_Inc_Counter_Orders,
        'orders_all' : Manage_Dashboard_Inc_Counter_Orders_All
    },
    created() {
        this.GetData();
    },
    data(){
        return {
            customers:null,
            servicemans:null,
            orders:null,
            orders_all:null,
        }
    },
    methods : {
        GetData(){
            axios.get('/api/management/dashboard/main-counts').then(res => {
                this.customers = res.data.customers;
                this.servicemans = res.data.servicemans;
                this.orders = res.data.orders;
                this.orders_all = res.data.orders_all;
            }).catch(e => {
                return Sweet.SweetServerErrorMessage();
            })
        }
    }
}
</script>

<style scoped>

</style>
