<template>
    <div class="card bg-primary text-light">
        <div class="card-body">
            <template v-if="counter !== null" class="app-fade-in">
                <strong class="font-size-15  text-light">کل مبالغ فروش فروشگاه</strong>
                <h5 class="mt-2 text-light">{{ NumberFormatter(counter) }}</h5>  تومان
            </template>
            <template v-else >
                <placeholder-text></placeholder-text>
                <placeholder-text></placeholder-text>
                <placeholder-text></placeholder-text>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    name: "Manage_Dashboard_Inc_Shop_Year_Sell_Counter",
    props :['counter']
}
</script>

<style scoped>

</style>
