<template>
    <page_title :title="'لیست سفارشات جدید فروشگاه ( ارسال نشده )'"></page_title>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input v-model="search" @change="SearchItem" type="text" class="form-control" placeholder="جستجو ...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="alert alert-primary alert-dismissible alert-label-icon label-arrow fade show mt-4 app-fade-in" role="alert">
                        <i class="mdi mdi-check-all label-icon"></i><strong>راهنما</strong>  : برای مشاهده آدرس و ارسال محصولات به مشتری از دکمه
                        <span title="ارسال محصولات" class="btn btn-sm btn-warning waves-effect waves-light me-2">
                            <i class="text-dark bx bxs-truck font-size-16 align-middle"></i>
                        </span>
                        استفاده کنید
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-secondary alert-dismissible alert-label-icon label-arrow fade show mt-2 app-fade-in" role="alert">
                        <i class="mdi mdi-check-all label-icon"></i><strong>راهنما</strong>  : برای مشاهده جزئیات کامل فاکتور و پرداخت با دکمه
                        <span title="جزئیات فاکتور" class="btn btn-sm btn-primary waves-effect waves-light me-2">
                            <i class="bx bx-list-ol font-size-16 align-middle"></i>
                        </span>
                        به صفحه جزئیات کامل سفارش بروید
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div v-if="item_loading === false" class="table-responsive">
                        <table v-if="SearchItem.length > 0" class="table align-middle table-nowrap table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>مشتری</th>
                                <th>موبایل</th>
                                <th>کد سفارش</th>
                                <th>مبلغ کل</th>
                                <th>محصولات</th>
                                <th>وضعیت پرداخت</th>
                                <th>تاریخ</th>
                                <th>ابزار</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="app-fade-in" v-for="(item,index) in SearchItem" :key="index">
                                <td width="10">
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="customerlistcheck01">
                                        <label class="form-check-label" for="customerlistcheck01"></label>
                                    </div>
                                </td>
                                <td>
                                    <template v-if="item.customer">
                                        {{item.customer.name}}

                                    </template>
                                </td>
                                <td>
                                    <template v-if="item.customer">
                                        <a :href="'tel:'+item.customer.phone">
                                            {{item.customer.phone}}
                                        </a>
                                    </template>
                                </td>
                                <td>
                                    <span class="badge rounded-pill badge-soft-danger font-size-12 fw-medium p-2">{{item.code}}</span>
                                </td>
                                <td>
                                    <strong class="text-success font-15">{{NumberFormatter(item.price)}}</strong> <span class="me-2">تومان</span>
                                </td>
                                <td>
                                    <button data-bs-toggle="modal" :data-bs-target="'#show_products'+item.id" class="btn btn-primary btn-sm font-size-12">مشاهده محصولات</button>
                                    <div class="modal fade" :id="'show_products'+item.id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myLargeModalLabel">مشاهده محصولات سفارش : {{item.code}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-nowrap">
                                                            <thead>
                                                            <tr class="bg-secondary text-light">
                                                                <th>محصول</th>
                                                                <th>کد</th>
                                                                <th>تعداد</th>
                                                                <th>مبلغ</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr v-for="(order,index) in item.orders">
                                                                <td>
                                                                    {{order.product.name}}
                                                                </td>
                                                                <td>
                                                                    <span class="badge rounded-pill badge-soft-primary font-size-12 fw-medium p-2">{{order.product.code}}</span>
                                                                </td>
                                                                <td>
                                                                    <span class="badge rounded-pill bg-danger font-size-13 fw-bold p-2">{{order.quantity}}</span>
                                                                </td>
                                                                <strong class="text-success font-15">{{NumberFormatter(order.price)}}</strong> <span class="">تومان</span>

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">
                                                        <i class="bx bx-x font-size-18 align-middle"></i> بستن
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <span v-if="item.is_pay" class="badge bg-success p-2 font-size-12">پرداخت شده <i class="mdi mdi-check"></i></span>
                                    <span v-else class="badge bg-danger p-2 font-size-12">پرداخت نشده <i class="mdi mdi-close"></i></span>
                                </td>
                                <td>
                                    <span class="badge rounded-pill badge-soft-dark font-size-12 fw-medium">
                                        {{ this.$filters.date(item.create_at)}}
                                    </span>
                                </td>
                                <td>
                                    <button data-bs-toggle="modal" :data-bs-target="'#send_order'+item.id" title="ارسال محصولات" class="btn btn-sm btn-warning waves-effect waves-light me-2">
                                        <i class="text-dark bx bxs-truck font-size-16 align-middle"></i>
                                    </button>

                                    <div class="modal fade" :id="'send_order'+item.id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myLargeModalLabel">ارسال محصولات به مشتری ، سفارش : {{item.code}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 class="text-danger">اطلاعات مشتری :</h6>
                                                    <div class="mt-2">
                                                        <span class="text-secondary font-13">کد پستی :</span> <span class="text-drk">{{item.postal_code}}</span>
                                                    </div>
                                                    <div class="mt-2">
                                                        <span class="text-secondary font-13">آدرس :</span>
                                                        <textarea class="form-control text-dark" disabled rows="3" >
                                                            {{item.address}}
                                                        </textarea>
                                                    </div>
                                                    <hr>
                                                    <h6 class="text-danger mb-2">توضیحات ارسال :</h6>
                                                    <div class="form-group">
                                                        <label class="form-label">نام ارسال کننده ( پیک )</label>
                                                        <input v-model="sender_name" class="form-control" type="text" >
                                                    </div>
                                                    <div class="form-group mt-3">
                                                        <label class="form-label">توضیحات</label>
                                                        <textarea class="form-control" v-model="sender_message" rows="4" placeholder="مثال : ارسال شده توسط آژانش عدالت"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">
                                                        <i class="bx bx-x font-size-18 align-middle"></i> بستن
                                                    </button>
                                                    <button @click="SendOrder(item.id)" type="button" class="btn btn-success waves-effect waves-light" :disabled="send_loading">
                                                        <template v-if="!send_loading">
                                                            <i class="bx bxs-truck  font-size-18 align-middle"></i> ارسال محصولات و تغییر فاکتور به ارسال شده
                                                        </template>
                                                        <template v-else>
                                                            <i class="mdi mdi-timer-sand  align-middle"></i> در حال ارسال ...
                                                        </template>

                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <router-link to="" title="جزئیات فاکتور" class="btn btn-sm btn-primary waves-effect waves-light me-2">
                                        <i class="bx bx-list-ol font-size-16 align-middle"></i>
                                    </router-link>
                                    <button @click="DelItem(item.id)" title="حذف آیتم" type="button" class="btn btn-sm btn-danger waves-effect waves-light me-2"><i class="bx bx-trash font-size-16 align-middle"></i></button>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <nodata v-else></nodata>

                    </div>

                    <item_loading v-else></item_loading>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vSelect from "vue-select";
import Sweet from "../../../helpers/Sweet";
import Swal from "sweetalert2";

export default {
    name: "Manage_Shop_Orders_New",
    components:{
        vSelect,
    },
    created() {
        this.GetItems();
    },

    data(){
        return {

            item_loading:false,
            items : [],
            errors:[],
            search:'',
            sender_name : null,
            sender_message : null,
            send_loading:false,
        }
    },

    methods: {
        GetItems() {
            this.item_loading = true;
            axios.get('/api/management/shop/orders/new').then(res => {
                this.item_loading = false;
                this.items = res.data;
            }).catch(error => {
                this.item_loading = false;
                Sweet.SweetServerErrorMessage();
            })
        },
        DelItem(id) {
            Swal.fire({
                title: 'آیا مطمئن هستید',
                text: "سفارش مورد نظر را حذف کنید. درصورت حذف ، سفارش غیرقابل بازیابی خواهد بود !",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#26a852',
                cancelButtonColor: '#d33',
                cancelButtonText: 'خیر',
                confirmButtonText: 'حذف شود'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get('/api/management/orders/' + id + '/remove').then(res => {
                        Sweet.SweetToastMessage(res.data)
                        this.GetItems();
                    }).catch(e => {
                        Sweet.SweetServerErrorMessage();
                    })
                }
            })
        },
        SendOrder(order) {
            this.send_loading = true;
            axios.post('/api/management/shop/orders/send-order/'+order,{
                "sent_by" : this.sender_name,
                "sent_description" : this.sender_message,
            }).then(res => {
                this.send_loading = false;
                Sweet.SweetToastMessage(res.data);
                this.GetItems();
                $('#send_order'+order).modal('hide');
            }).catch(error => {
                this.send_loading = false;
                Sweet.SweetServerErrorMessage();
            })

        },
    },

    computed:{
        SearchItem(){
            return this.items.filter(item => {
                return item.code !== null && item.code.match(this.search)
            })

        }
    }
}
</script>

<style scoped>

</style>
