<template>
    <p class="placeholder-glow m-0">
        <span class="placeholder col-12"></span>
    </p>
</template>

<script>
export default {
    name: "Manage_Inc_Placeholder_Text"
}
</script>

<style scoped>

</style>
