<template>
    <section class="team-section pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span>برترین ها</span>
                <h3 class="font-45">برترین متخصصین چارسو به انتخاب شما</h3>
                <h6 class="mt-3">متخصصانی که توسط مشتریان گرامی بالاترین امتیاز را دریافت کرده اند</h6>
            </div>

            <div class="row">

                <div v-for="i in 4"  class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-team-item">
                        <div class="team-image">
                            <img class="mt-4 mb-1" width="160" height="160" src="/images/default/serviceman.png" alt="team">
<!--                            <div class="team-social">-->
<!--                                <a href="#" target="_blank">-->
<!--                                    <i class="fab fa-facebook-f"></i>-->
<!--                                </a>-->
<!--                                <a href="#" target="_blank">-->
<!--                                    <i class="fab fa-twitter"></i>-->
<!--                                </a>-->
<!--                                <a href="#" target="_blank">-->
<!--                                    <i class="fab fa-instagram"></i>-->
<!--                                </a>-->
<!--                            </div>-->
                        </div>
                        <div class="team-content">
                            <h6>سرویس کار چارسو</h6>
                            <span class="mt-2">
                                <i class="mdi mdi-star text-warning font-20"></i>
                                <i class="mdi mdi-star text-warning font-20"></i>
                                <i class="mdi mdi-star text-warning font-20"></i>
                                <i class="mdi mdi-star text-warning font-20"></i>
                            </span>
                            <span class="text-danger font-12"> تعداد سفارش انجام شده 12</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "Front_Index_Top_Servicemans",

}
</script>

<style scoped>

</style>
