<template>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card">

                <div class="card-body" v-if="!code_form">
                    <h5 class="text-center mt-2 text-danger">ورود مدیران چارسو</h5>
                    <div class="mt-5 ">
                        <h6 class="text-center form-label mb-4">برای ورود شماره موبایل خود را وارد کنید </h6>
                        <input @keyup.enter="Auth" class="form-control text-center" v-model="phone" placeholder="09XX XXX XXXX">
                    </div>
                    <div class="mt-3 text-center">
                        <button @click="Auth" class="btn btn-success">ورود به مدیریت</button>
                    </div>
                </div>

                <div class="card-body" v-else>
                    <h5 class="text-center mt-2 text-danger">تایید احراز هویت مدیریت</h5>
                    <div class="mt-5 ">
                        <h6 class="text-center form-label mb-4">برای تایید ورود به حساب کد ارسال شده به شماره موبایل خود را وارد کنید </h6>
                        <input @keyup.enter="AuthCheck" class="form-control text-center" v-model="code" placeholder="کد تایید چارسو">
                        <validation_errors :errors="errors" :field="'code'"></validation_errors>
                    </div>
                    <div class="mt-3 text-center">
                        <button @click="AuthCheck" class="btn btn-success mb-4">ارسال کد و تایید احراز هویت</button>
                        <br>
                        <span @click="ChangePhone" class=" app-pointer">
                            تغییر شماره موبایل
                        </span>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "Manage_Auth",
    created() {
        if (localStorage.getItem('charssu_auth_phone')){
            this.code_form=true;
        }
        console.log(this.code_form)
    },

    data(){
        return {
            loading:false,
            phone:null,
            code:null,
            code_form : false,
            errors:[],
        }
    },

    methods : {
        ...mapActions([
            'Auth_Phone_Set',
            'Auth_Phone_Remove',
            'Auth_Login'
        ]),

        Auth(){
            if (!this.phone){
                return Sweet.SweetToastMessage('برای ورود شماره موبایل خود را وارد کنید','error')
            }
            if (this.phone){ this.phone = this.NumberToEn(this.phone)}
            this.loading = true
            axios.post('/api/management/auth/login',{phone : this.phone}).then(res => {
                this.Auth_Phone_Set(res.data)
                this.code_form=true
                this.loading=false
                return Sweet.SweetToastMessage('کد احراز هویت برای شماره شما ارسال شد','success')
            }).catch(error => {
                if (error.response.status === 409){
                    return Sweet.SweetToastMessage(error.response.data,'error');
                }
            })
            this.loading=false
        },
        AuthCheck(){
            if (!this.code){
                return Sweet.SweetToastMessage('کد احراز هویت را وارد کنید','error')
            }
            if (this.code){this.code= this.NumberToEn(this.code)}
            this.loading = true
            axios.post('/api/management/auth/login-check',{code : this.code,phone : this.AuthPhoneGet}).then(res => {
                if (res.data){
                    this.Auth_Login(res.data);
                    this.Auth_Phone_Remove()
                    return window.open('/management/dashboard','_self');
                }
                return Sweet.SweetToastMessage('مشکلی در انجام احراز هویت رخ داده است . لطفا مجدد تلاش کنید','error')
            }).catch( e => {
                if ( [409,410,411].includes(e.response.status) ){
                    Sweet.SweetToastMessage(e.response.data,'error')
                }else if (e.response.status === 421){
                    this.errors = e.response.data;
                }else{
                    Sweet.SweetServerErrorMessage();
                }
            })
            this.loading=false

        },
        ChangePhone(){
            this.Auth_Phone_Remove()
            this.code_form=false;
        }


    },

    computed : {
        ...mapGetters({
            AuthPhoneGet : "AuthPhoneGet",
        })
    }


}
</script>

<style scoped>

</style>
