<template>

    <page_title :title="'لیست سفارشات جدید (در انتظار تخصیص سرویس کار)'"></page_title>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input v-model="search" @change="SearchItem" type="text" class="form-control" placeholder="جستجو ...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="alert alert-dark alert-dismissible alert-label-icon label-arrow fade show mt-4 app-fade-in" role="alert">
                        <i class="mdi mdi-check-all label-icon"></i><strong>راهنما</strong>  : برای مشاهده جزئیات کامل و مدیریت سفارش با استفاده از دکمه
                        <span title="مشاهده جزئیات" class="btn btn-sm btn-dark waves-effect waves-light me-2">
                            <i class="bx bxs-cog font-size-16 align-middle"></i>
                        </span>
                        به صفحه مدیریت سفارش بروید
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-success alert-dismissible alert-label-icon label-arrow fade show mt-2 app-fade-in" role="alert">
                        <i class="mdi mdi-check-all label-icon"></i><strong>راهنما</strong>  : برای تخصیص دادن سفارش مورد نظر به سرویس کار دلخواه از دکمه
                        <span title="تخصیص سرویس کار" class="btn btn-sm btn-success waves-effect waves-light me-2">
                            <i class="bx bx-user-plus font-size-16 align-middle"></i>
                        </span>
                        استفاده کنید . توجه داشته باشید شما فقط میتوانید سرویس کاران بدون سفارش فعال را انتخاب نمایید
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div v-if="item_loading === false" class="table-responsive">
                        <table v-if="SearchItem.length > 0" class="table align-middle table-nowrap table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>مشتری</th>
                                <th>موبایل</th>
                                <th>کد</th>
                                <th>برند</th>
                                <th>دستگاه</th>
                                <th>گارانتی</th>
                                <th>تاریخ</th>
                                <th>ابزار</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="app-fade-in" v-for="(item,index) in SearchItem" :key="index">
                                <td width="10">
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="customerlistcheck01">
                                        <label class="form-check-label" for="customerlistcheck01"></label>
                                    </div>
                                </td>
                                <td>
                                    {{item.customer.name}}
                                </td>
                                <td>
                                    <a :href="'tel:'+item.customer.phone">
                                        {{item.customer.phone}}
                                    </a>
                                </td>
                                <td>
                                    <span class="badge rounded-pill badge-soft-danger font-size-12 fw-medium p-2">{{item.code}}</span>
                                </td>
                                <td>
                                    <template v-if="item.device_brand !== null">
                                        {{ item.device_brand.name }}
                                    </template>
                                </td>
                                <td>
                                    <template v-if="item.device !== null">
                                        {{ item.device.name }}
                                    </template>
                                </td>
                                <td>
                                    <span v-if="item.warranty === 1" class="badge rounded-pill bg-success font-12 p-2">دارد <i class="mdi mdi-check"></i></span>
                                    <span v-else class="badge rounded-pill bg-danger font-size-12 p-2">ندارد <i class="mdi mdi-close"></i></span>
                                </td>
                                <td>
                                    <span class="badge rounded-pill badge-soft-dark font-size-12 fw-medium">
                                        {{ this.$filters.date(item.create_at)}}
                                    </span>
                                </td>
                                <td>
                                    <router-link :to="{name : 'manage_orders_detail',params : {id : item.id}}" title="مدیریت سفارش" to="" class="btn btn-sm btn-dark waves-effect waves-light me-2">
                                        <i class="bx bxs-cog font-size-16 align-middle"></i>
                                    </router-link>
                                    <button @click="GetActiveServicemans" data-bs-toggle="modal" :data-bs-target="'#add_serviceman'+item.id" title="تخصیص سرویس کار" type="button" class="btn btn-sm btn-success waves-effect waves-light me-2"><i class="bx bx-user-plus font-size-16 align-middle"></i></button>
                                    <div class="modal fade" :id="'add_serviceman'+item.id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myLargeModalLabel">تخصیص سرویس کار به سفارش # {{item.id}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="alert alert-success">
                                                        انتخاب از بین سرویس کاران بدون سفارش فعال و آنلاین
                                                    </div>
                                                    <div>
                                                        <v-select :options="activeservicemans" v-model="add_serviceman_id" :label="'name'" :reduce="(option) => option.id" />

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">
                                                        <i class="bx bx-x font-size-18 align-middle"></i> بستن
                                                    </button>
                                                    <button @click="SetServiceman(item.id)" type="button" class="btn btn-success waves-effect waves-light">
                                                        <i class="bx bx-check font-size-18 align-middle"></i> تخصیص سرویس کار
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <router-link to="" title="ویرایش سفارش" class="btn btn-sm btn-primary waves-effect waves-light me-2">
                                        <i class="bx bx-pencil font-size-16 align-middle"></i>
                                    </router-link>
                                    <button @click="DelItem(item.id)" title="حذف آیتم" type="button" class="btn btn-sm btn-danger waves-effect waves-light me-2"><i class="bx bx-trash font-size-16 align-middle"></i></button>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <nodata v-else></nodata>

                    </div>

                    <item_loading v-else></item_loading>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Sweet from "../../../helpers/Sweet";
import Swal from "sweetalert2";
import vSelect from "vue-select";

export default {
    name: "Manage_Orders_New",
    components:{
        vSelect,
    },
    created() {
        this.GetItems();
    },

    data(){
        return {

            item_loading:false,
            items : [],
            errors:[],
            search:'',
            add_serviceman_id:null,
            activeservicemans:[],

        }
    },

    methods:{
        GetItems(){
            this.item_loading=true;
            axios.get('/api/management/orders/new').then(res => {
                this.item_loading=false;
                this.items=res.data;
            }).catch(error => {
                this.item_loading=false;
                Sweet.SweetServerErrorMessage();
            })
        },
        DelItem(id){
            Swal.fire({
                title: 'آیا مطمئن هستید',
                text: "سفارش مورد نظر را حذف کنید. درصورت حذف ، سفارش غیرقابل بازیابی خواهد بود !",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#26a852',
                cancelButtonColor: '#d33',
                cancelButtonText : 'خیر',
                confirmButtonText: 'حذف شود'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get('/api/management/orders/'+id+'/remove').then(res =>{
                        Sweet.SweetToastMessage(res.data)
                        this.GetItems();
                    }).catch(e=>{
                        Sweet.SweetServerErrorMessage();
                    })
                }
            })
        },
        GetActiveServicemans(){
            axios.get('/api/management/servicemans/no-busy').then(res => {
                this.activeservicemans = res.data;
            })

        },
        SetServiceman(order){
            if (this.add_serviceman_id === null){
                return Sweet.SweetToastMessage('ابتدا سرویس کار مورد نظر را انتخاب کنید','error');
            }
            axios.post('/api/management/orders/'+order+'/set/serviceman',{serviceman : this.add_serviceman_id}).then(res => {
                this.GetItems();
                $('#add_serviceman'+order).modal('hide');

                return Sweet.SweetToastMessage(res.data);
            }).catch(e=>{
                Sweet.SweetServerErrorMessage();
            })
        }


    },

    computed:{
        SearchItem(){
            return this.items.filter(item => {
                return item.code !== null && item.code.match(this.search)
            })

        }
    }
}
</script>

<style scoped>

</style>
