<template>
    <page_title v-if="order" :title="'جزئیات سفارش : ' + order.code"></page_title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <button @click="DeleteOrder" class="float-end btn btn-danger font-size-13"><i cLass="mdi mdi-alert"></i> حذف کامل سفارش ! </button>

                    <h4 class="card-title mb-4 text-danger">اطلاعات اصلی سفارش </h4>
                        <div v-if="!item_loading && order.is_done" class="alert alert-warning text-dark app-fade-in" role="alert">
                            <i class="mdi mdi-alert align-middle me-3 mdi-18px"></i><strong>توجه : </strong>
                            این سفارش به پایان رسیده است و تغییر سرویس کار و فاکتور ها امکان پذیر نمیباشد .
                        </div>
                    <div class="table-responsive">
                        <table class="table  align-middle mb-0">
                            <tbody>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">استان :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.province !== null">{{order.province.name}}</template>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">شهر :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.city !== null">{{order.city.name}}</template>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">منطقه :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.zone !== null">{{order.zone.name}}</template>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">کد سفارش :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="badge rounded-pill bg-danger font-size-12 fw-medium p-2 app-fade-in">
                                        {{order.code}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">برند محصول :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.device_brand !== null">{{order.device_brand.name}}</template>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">نام محصول :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.device !== null">{{order.device.name}}</template>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">شامل گارانتی است ؟</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.warranty === '1'">
                                             <i class="text-success font-size-18 mdi mdi-check"></i> بله
                                        </template>
                                        <template v-else>
                                             <i class="text-danger font-size-18 mdi mdi-close"></i> خیر
                                        </template>
                                    </span>
                                </td>
                            </tr>
                            <tr v-if="!item_loading && order.warranty_date">
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">تاریخ گارانتی :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else>
                                        {{ this.$filters.date(order.warranty_date)}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">مشکل :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.problem !== null">{{order.problem.problem}}</template>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">توضیحات تکمیلی :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <p v-else class="text-justify app-fade-in">
                                        {{order.description}}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">تصویر ارسالی :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <div v-else class="app-fade-in">
                                        <template v-if="order.image">
                                            <button data-bs-toggle="modal" data-bs-target="#show_image" class="btn btn-sm btn-primary">مشاهده تصویر <i class="mdi mdi-eye"></i></button>
                                            <div class="modal fade" id="show_image" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myLargeModalLabel">مشاهده تصویر ارسالی </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="img-fluid">
                                                        <img :src="order.image" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">
                                                        <i class="bx bx-x font-size-18 align-middle"></i> بستن
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                            </div>
                                        </template>
                                        <template v-else>
                                            <i class="mdi mdi-close text-danger font-size-18"></i> بدون تصویر
                                        </template>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table responsive -->
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card"   >
                <div class="card-body">
                    <h4 class="card-title mb-4 text-danger">مشخصات مشتری </h4>
                    <div v-if="!item_loading" class="table-responsive">
                        <table class="table  align-middle mb-0">
                            <tbody>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">نام و نام‌خانوادگی :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.customer !== null">{{order.customer.name}}</template>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">شماره موبایل :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.customer !== null">
                                            <a :href="'tel:'+order.customer.phone" class="badge rounded-pill bg-success font-size-12 fw-medium p-2 app-fade-in">
                                                {{order.customer.phone}}
                                            </a>
                                        </template>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <h5 class="text-truncate font-size-14">آدرس کامل :</h5>
                                </td>
                                <td>
                                    <placeholder-text v-if="item_loading"></placeholder-text>
                                    <span v-else class="app-fade-in">
                                        <template v-if="order.customer !== null">{{order.customer.address}}</template>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-2" v-else>
                        <placeholder-text class="mt-3"></placeholder-text>
                        <placeholder-text class="mt-3"></placeholder-text>
                        <placeholder-text class="mt-3"></placeholder-text>
                    </div>
                    <!-- end table responsive -->
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <button @click="GetActiveServicemans" data-bs-toggle="modal" data-bs-target="#change_serviceman" class="float-end btn btn-warning text-dark">تغییر سرویس کار <i cLass="mdi mdi-refresh"></i></button>
                    <div class="modal fade" id="change_serviceman" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myLargeModalLabel">تغییر سرویس کار سفارش </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-danger alert-border-left alert-dismissible fade show" role="alert">
                                        <strong>توجه</strong>  در صورت وجود سرویس کار فعال در سفارش ، سرویس کار فعلی رد شده و سرویس کار انتخابی جایگزین و فعال میشود
                                    </div>
                                    <div class="mt-2">
                                        <label class="form-label">
                                            انتخاب از بین سرویس کاران بدون سفارش فعال و آنلاین
                                        </label>
                                        <div>
                                            <v-select :options="activeservicemans" v-model="add_serviceman_id" :label="'name'" :reduce="(option) => option.id" />

                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">
                                        <i class="bx bx-x font-size-18 align-middle"></i> بستن
                                    </button>
                                    <button @click="SetServiceman" type="button" class="btn btn-success waves-effect waves-light">
                                        <i class="bx bx-check font-size-18 align-middle"></i> تغییر سرویس کار
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="card-title mb-4 text-danger">مشخصات سرویس کاران </h4>
                    <div v-if="!item_loading">
                        <div v-if="order.servicemans.length" class="table-responsive">
                            <table class="table  align-middle mb-0">
                                <thead class="">
                                <tr>
                                    <th>نام</th>
                                    <th>وضعیت</th>
                                    <th>تاریخ تخصیص</th>
                                    <th>مشاهده</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(serviceman,index) in order.servicemans" :key="index" class="">
                                    <td>
                                        {{serviceman.serviceman.name}}
                                    </td>
                                    <td>
                                        <span v-if="serviceman.accepted" class="badge bg-success p-2 font-size-13">فعال <i class="mdi mdi-check"></i></span>
                                        <span v-else-if="serviceman.canceled" class="badge bg-danger p-2 font-size-13">رد شده <i class="mdi mdi-close"></i></span>
                                        <span v-else class="badge bg-warning text-dark p-2 font-size-13">در انتظار <i class="mdi mdi-timer-sand"></i></span>
                                    </td>
                                    <td>
                                        {{ this.$filters.date(serviceman.created_at)}}
                                    </td>
                                    <td>
                                        <button @click="serviceman_show = serviceman" class="btn btn-primary btn-sm">مشاهده اطلاعات</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-if="serviceman_show" class="mt-3 app-fade-in">
                                <h6 class="text-primary">مشاهده اطلاعات سرویس کار :</h6>
                                <div class="table-responsive">
                                    <table class="table  align-middle mb-0">
                                        <tbody>
                                        <tr>
                                            <td width="20%">
                                                <h5 class="text-truncate font-size-14">نام و نام‌خانوادگی :</h5>
                                            </td>
                                            <td>
                                                {{serviceman_show.serviceman.name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">
                                                <h5 class="text-truncate font-size-14">شماره تماس :</h5>
                                            </td>
                                            <td>
                                                <a :href="'tel:'+serviceman_show.serviceman.phone" class="badge rounded-pill bg-warning text-dark font-size-12 fw-medium p-2 app-fade-in">
                                                    {{serviceman_show.serviceman.phone}}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">
                                                <h5 class="text-truncate font-size-14">کد چارسو :</h5>
                                            </td>
                                            <td>
                                            <span class="text-danger">
                                                {{serviceman_show.serviceman.code}}
                                            </span>
                                            </td>
                                        </tr>
                                        <tr v-if="serviceman_show.canceled">
                                            <td width="20%">
                                                <h5 class="text-truncate font-size-14 text-danger">دلیل رد کردن :</h5>
                                            </td>
                                            <td>
                                            <span class="text-justify">
                                                {{serviceman_show.cancel_reason}}
                                            </span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="text-center">
                                <img src="/images/default/serviceman2.png" width="127" alt="">
                                <h6 class="text-center text-danger mt-3">سفارش در انتظار سرویس کار است </h6>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5" v-else>
                        <placeholder-text class="mt-3"></placeholder-text>
                        <placeholder-text class="mt-3"></placeholder-text>
                        <placeholder-text class="mt-3"></placeholder-text>
                        <placeholder-text class="mt-3"></placeholder-text>
                    </div>
                    <!-- end table responsive -->
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card"   >
                <div class="card-body">
                    <h4 class="card-title mb-4 text-danger">گزارشات ثبت شده </h4>
                    <div v-if="!item_loading">
                        <div v-if="order.notes.length">

                            <div v-for="(note,index) in order.notes" :key="index" class="card bg-secondary border-secondary text-light">
                                <div class="card-body">
                                    <h6 class="mb-4 text-light">{{note.serviceman.name}}</h6>
                                    <p class="card-text">{{note.note}}</p>
                                    <p class="card-text float-end"><small>{{ this.$filters.date(note.created_at)}}</small></p>
                                </div>
                            </div>

                        </div>
                        <div v-else class="mt-3 text-center">
                            <img src="/images/default/notes.png" width="100" alt="">
                            <h6 class="text-center text-dark mt-3">هیچ گزارشی ثبت نشده است ! </h6>
                        </div>
                    </div>
                    <div class="mt-4" v-else>
                        <div class="card bg-light border-light">
                            <div class="card-body">
                                <placeholder-text class="mt-2 mb-2"></placeholder-text>
                                <placeholder-text class="mt-2 mb-2"></placeholder-text>
                            </div>
                        </div>
                        <div class="card bg-light border-light">
                            <div class="card-body">
                                <placeholder-text class="mt-2 mb-2"></placeholder-text>
                                <placeholder-text class="mt-2 mb-2"></placeholder-text>
                            </div>
                        </div>

                    </div>
                    <!-- end table responsive -->
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card"   >
                <div class="card-body">
                    <h4 class="card-title mb-4 text-danger">قطعات (محصولات) استفاده شده  </h4>
                    <div v-if="!item_loading">
                        <div v-if="order.products.length">
                            <div class="row">
                                <div v-for="(product,index) in order.products" :key="index" class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-grow-1">
                                                    <H6 >{{product.products.name}}</H6>
                                                    <div>
                                                        <span class="text-muted">تعداد : </span>
                                                        <span class="text-dark">{{product.quantity}}</span>
                                                    </div>
                                                    <div>
                                                        <span class="text-muted">پرداخت : </span>
                                                        <span class="text-dark">
                                                            <template v-if="product.paid === 'serviceman'">
                                                                سرویس کار
                                                            </template>
                                                            <template v-else-if="product.paid === 'customer'">
                                                                مشتری
                                                            </template>
                                                            <template v-else>
                                                               پرداخت شده
                                                            </template>

                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="text-muted">وضعیت پرداخت : </span>
                                                        <span class="text-dark">
                                                            <template v-if="product.is_paid">
                                                                <i class="mdi mdi-check text-success mdi-18px"></i>
                                                            </template>
                                                            <template v-else>
                                                                <i class="mdi mdi-close text-danger mdi-18px"></i>
                                                            </template>

                                                        </span>
                                                    </div>


                                                </div>
                                                <div class="img-fluid float-end img-fluid">
                                                    <img src="/images/default/product.png" width="85"  alt="">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div v-else class="mt-3 text-center">
                            <img src="/images/default/no-products.png" width="100" alt="">
                            <h6 class="text-center text-dark mt-3">هیچ قطعه ای در سفارش استفاده نشده است ! </h6>
                        </div>
                    </div>
                    <div class="mt-4" v-else>
                        <div class="card bg-light border-light">
                            <div class="card-body">
                                <placeholder-text class="mt-2 mb-2"></placeholder-text>
                                <placeholder-text class="mt-2 mb-2"></placeholder-text>
                            </div>
                        </div>
                        <div class="card bg-light border-light">
                            <div class="card-body">
                                <placeholder-text class="mt-2 mb-2"></placeholder-text>
                                <placeholder-text class="mt-2 mb-2"></placeholder-text>
                            </div>
                        </div>

                    </div>
                    <!-- end table responsive -->
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <button @click="DeleteInvoice" v-if="!item_loading && order.invoice" class="float-end btn btn-danger">حذف فاکتور ها <i cLass="mdi mdi-alert"></i></button>
                    <h4 class="card-title mb-4 text-danger">فاکتورها و امور مالی </h4>
                    <hr>
                    <div v-if="!item_loading">
                        <div v-if="!order.invoice">
                            <div class="mt-3 text-center">
                                <img src="/images/default/invoice.png" width="100" alt="">
                                <h6 class="text-center text-dark mt-3">هنوز فاکتوری برای این سفارش ثبت نشده است ! </h6>
                                <div class="text-center">

                                    <button @click="CreateInvoice" class="btn btn-primary mt-2">ایجاد فاکتور برای سفارش</button>

                                </div>
                            </div>
                        </div>
                        <div v-else class="mt-3">
                            <div class="row">
                                <div v-for="(invoice,index) in order.invoices" :key="index" class="col-md-6">
                                    <div  class="card">
                                        <div class="card-body">
                                            <button @click="ChangeInvoice(invoice)" class="float-end btn btn-dark">تغییر وضعیت پرداخت <i cLass="mdi mdi-refresh"></i></button>
                                            <h4 class="card-title mb-4 text-primary font-size-14">
                                                <template v-if="invoice.type === 'customer'">
                                                    فاکتور صادر شده برای مشتری
                                                </template>
                                                <template v-else>
                                                    فاکتور صادر شده برای سرویس کار
                                                </template>
                                            </h4>
                                            <div class="table-responsive">
                                                <table class="table align-middle mb-0">
                                                    <tbody>
                                                    <tr>
                                                        <td width="20%">
                                                            <h5 class="text-truncate font-size-13">مبلغ کل :</h5>
                                                        </td>
                                                        <td>
                                                            <strong class="font-size-15  text-success">
                                                                {{NumberFormatter(invoice.price)}}
                                                            </strong>
                                                            <span class="ms-2">تومان</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="20%">
                                                            <h5 class="text-truncate font-size-13">وضعیت پرداخت :</h5>
                                                        </td>
                                                        <td>
                                                            <span v-if="invoice.is_pay" class="text-success font-14"> <i class="mdi mdi-check"></i> پرداخت شده</span>
                                                            <span v-else class="text-danger font-14"> <i class="mdi mdi-close"></i> پرداخت نشده</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="20%">
                                                            <h5 class="text-truncate font-size-13">تاریخ ثبت فاکتور :</h5>
                                                        </td>
                                                        <td>
                                                            {{ this.$filters.date(invoice.created_at)}}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <h6 class="mt-3 mb-3 text-danger font-size-15">جزئیات فاکتور : </h6>
                                                <table class="table align-middle mb-0">
                                                   <thead>
                                                   <tr class="text-primary">
                                                       <th>عنوان</th>
                                                       <th>قیمت</th>
                                                   </tr>
                                                   </thead>
                                                    <tbody>
                                                        <tr v-for="(detail,index) in invoice.details" :key="index">
                                                            <td>
                                                                {{detail.title}}
                                                            </td>
                                                            <td>
                                                                <strong class="font-size-13  text-danger">
                                                                    {{NumberFormatter(detail.price)}}
                                                                </strong>
                                                                <span class="ms-2">تومان</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h6 class="mt-3 mb-3 text-danger font-size-15">جزئیات پرداخت : </h6>
                                                <div v-if="!invoice.is_pay">
                                                    <div class="alert alert-danger text-center mt-3">این فاکتور پرداخت نشده است ، برای پرداخت از دکمه تغییر وضعیت استفاده کنید</div>
                                                </div>
                                                <div v-else class="mt-3 table-responsive">
                                                    <table class="table align-middle mb-0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="20%">
                                                                <h5 class="text-truncate font-size-13">درگاه پرداخت :</h5>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-soft-pink font-size-12 p-2">
                                                                    {{invoice.gateway}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">
                                                                <h5 class="text-truncate font-size-13">روش پرداخت :</h5>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-soft-success font-size-12 p-2">
                                                                    {{invoice.method}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">
                                                                <h5 class="text-truncate font-size-13">تاریخ پرداخت :</h5>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-soft-dark font-size-12 p-2">
                                                                    {{ this.$filters.date(invoice.paid_at)}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">
                                                                <h5 class="text-truncate font-size-13">کد تراکنش بانک :</h5>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-soft-danger font-size-12 p-2">
                                                                    {{invoice.ref_id}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">
                                                                <h5 class="text-truncate font-size-13">شماره کارت :</h5>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-soft-primary font-size-12 p-2">
                                                                    {{invoice.card_number}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">
                                                                <h5 class="text-truncate font-size-13">کد تراکنش درگاه :</h5>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-soft-warning text-dark font-size-12 p-2">
                                                                    {{invoice.pay_id}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                            <!-- end table responsive -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2" v-else>
                        <placeholder-text class="mt-3"></placeholder-text>
                        <placeholder-text class="mt-3"></placeholder-text>
                        <placeholder-text class="mt-3"></placeholder-text>
                        <placeholder-text class="mt-3"></placeholder-text>
                    </div>
                    <!-- end table responsive -->
                </div>
            </div>
        </div>


    </div>
</template>

<script>
import Sweet from "../../../helpers/Sweet";
import Swal from "sweetalert2";
import vSelect from "vue-select";

export default {
    name: "Manage_Orders_Detail",
    components:{
        vSelect,
    },

    created() {
        this.GetOrder();
    },

    data(){
        return {

            item_loading:true,
            order : null,
            serviceman_show:null,
            activeservicemans:[],
            add_serviceman_id:null,
            errors:[],
            search:'',


        }
    },

    methods:{
        GetOrder(){
            this.item_loading=false;
            axios.get('/api/management/orders/'+this.$route.params.id).then(res => {
                this.order = res.data

            }).catch(error => {
                this.item_loading=true;
                Sweet.SweetServerErrorMessage();
            })
        },
        GetActiveServicemans(){
            axios.get('/api/management/servicemans/no-busy').then(res => {
                this.activeservicemans = res.data;
            })

        },
        SetServiceman(){
            if (this.add_serviceman_id === null){
                return Sweet.SweetToastMessage('ابتدا سرویس کار مورد نظر را انتخاب کنید','error');
            }
            axios.post('/api/management/orders/'+this.order.id+'/change/serviceman',{serviceman : this.add_serviceman_id}).then(res => {
                this.GetOrder();
                $('#change_serviceman').modal('hide');
                return Sweet.SweetToastMessage(res.data);
            }).catch(e=>{
                Sweet.SweetServerErrorMessage();
            })
        },
        CreateInvoice(){
            Swal.fire({
                title: 'آیا مطمئن هستید',
                text: "فاکتور برای سفارش مورد نظر ساخته شود ؟",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#26a852',
                cancelButtonColor: '#d33',
                cancelButtonText : 'خیر',
                confirmButtonText: 'بله'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get('/api/management/orders/'+this.order.id+'/set/invoice').then(res =>{
                        Sweet.SweetToastMessage(res.data)
                        this.GetOrder();
                    }).catch(e=>{
                        Sweet.SweetServerErrorMessage();
                    })
                }
            })

        },
        ChangeInvoice(invoice){
            var message;
            if (invoice.is_pay){
                message='فاکتور به وضعبت پرداخت نشده تغییر کند'
            }else{
                message='فاکتور به وضعیت پرداخت شده تغییر کند'
            }
            Swal.fire({
                title: 'آیا مطمئن هستید',
                text: message,
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#26a852',
                cancelButtonColor: '#d33',
                cancelButtonText : 'خیر',
                confirmButtonText: 'بله'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get('/api/management/orders/change/invoice/'+invoice.id).then(res =>{
                        Sweet.SweetToastMessage(res.data)
                        this.GetOrder();
                    }).catch(e=>{
                        Sweet.SweetServerErrorMessage();
                    })
                }
            })

        },
        DeleteInvoice(){

            Swal.fire({
                title: 'آیا مطمئن هستید',
                text: 'فاکتور های ثبت شده برای این سفارش حذف شوند ؟',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#26a852',
                cancelButtonColor: '#d33',
                cancelButtonText : 'خیر',
                confirmButtonText: 'بله'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get('/api/management/orders/'+this.order.id+'/remove/invoice').then(res =>{
                        Sweet.SweetToastMessage(res.data)
                        this.GetOrder();
                    }).catch(e=>{
                        Sweet.SweetServerErrorMessage();
                    })
                }
            })

        },
        DeleteOrder(){

            Swal.fire({
                title: 'آیا مطمئن هستید',
                text: 'سفارش مورد نظر بصورت کامل حذف گردد ؟ ',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#26a852',
                cancelButtonColor: '#d33',
                cancelButtonText : 'خیر',
                confirmButtonText: 'بله'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get('/api/management/orders/'+this.order.id+'/remove').then(res =>{
                        Sweet.SweetToastMessage(res.data)
                        return this.$router.push({name : "manage_orders_running"});
                    }).catch(e=>{
                        Sweet.SweetServerErrorMessage();
                    })
                }
            })

        }




    },
}
</script>

<style scoped>

</style>
