<template>

    <page_title :title="'لیست سفارشات درحال اجرا'"></page_title>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input v-model="search" @change="SearchItem" type="text" class="form-control" placeholder="جستجو ...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                    <div class="alert alert-dark alert-dismissible alert-label-icon label-arrow fade show mt-4 app-fade-in" role="alert">
                        <i class="mdi mdi-check-all label-icon"></i><strong>راهنما</strong>  : برای مشاهده جزئیات کامل و مدیریت سفارش ( تغییر وضعیت ، تغییر سرویس کار و مشاهده گزارشات و ... ) با استفاده از دکمه
                        <span title="مشاهده جزئیات" class="btn btn-sm btn-dark waves-effect waves-light me-2">
                            <i class="bx bxs-cog font-size-16 align-middle"></i>
                        </span>
                        به صفحه مدیریت سفارش بروید
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div v-if="item_loading === false" class="table-responsive">
                        <table v-if="SearchItem.length > 0" class="table align-middle table-nowrap table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>مشتری</th>
                                <th>موبایل</th>
                                <th>کد</th>
                                <th>گارانتی</th>
                                <th>سرویس کار</th>
                                <th>وضعیت</th>
                                <th>تاریخ</th>
                                <th>ابزار</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="app-fade-in" v-for="(item,index) in SearchItem" :key="index">
                                <td width="10">
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="customerlistcheck01">
                                        <label class="form-check-label" for="customerlistcheck01"></label>
                                    </div>
                                </td>
                                <td>
                                    {{item.customer.name}}
                                </td>
                                <td>
                                    <a :href="'tel:'+item.customer.phone">
                                        {{item.customer.phone}}
                                    </a>
                                </td>
                                <td>
                                    <span class="badge rounded-pill badge-soft-danger font-size-12 fw-medium p-2">{{item.code}}</span>
                                </td>
                                <td>
                                    <span v-if="item.warranty === '1'" class="badge rounded-pill bg-success font-size-12 p-2">دارد <i class="mdi mdi-check"></i></span>
                                    <span v-else class="badge rounded-pill bg-danger font-size-12 p-2">ندارد <i class="mdi mdi-close"></i></span>
                                </td>
                                <td>
                                    <template v-if="item.servicemans.length">
                                        {{item.servicemans[0].serviceman.name}}
                                    </template>
                                </td>
                                <td>
                                    <template v-if="!item.is_active">
                                        <span class="badge rounded-pill bg-danger font-size-12 p-2">غیرفعال شده <i class="mdi mdi-close"></i></span>
                                    </template>
                                    <template v-else-if="item.invoice">
                                        <span class="badge rounded-pill bg-warning font-size-12 p-2 text-dark">در انتظار پرداخت فاکتور <i class="mdi mdi-clock"></i></span>

                                    </template>
                                    <template v-else>
                                        <span class="badge rounded-pill bg-success font-size-12 p-2">در حال اجرا <i class="mdi mdi-check"></i></span>

                                    </template>
                                </td>
                                <td>
                                    <span class="badge rounded-pill badge-soft-dark font-size-12 fw-medium">
                                        {{ this.$filters.date(item.create_at)}}
                                    </span>
                                </td>
                                <td>
                                    <router-link :to="{name : 'manage_orders_detail',params : {id : item.id}}" title="مدیریت سفارش"  class="btn btn-sm btn-dark waves-effect waves-light me-2">
                                        <i class="bx bxs-cog font-size-16 align-middle"></i>
                                    </router-link>

                                    <router-link to="" title="ویرایش سفارش" class="btn btn-sm btn-primary waves-effect waves-light me-2">
                                        <i class="bx bx-pencil font-size-16 align-middle"></i>
                                    </router-link>
                                    <button @click="DelItem(item.id)" title="حذف آیتم" type="button" class="btn btn-sm btn-danger waves-effect waves-light me-2"><i class="bx bx-trash font-size-16 align-middle"></i></button>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <nodata v-else></nodata>

                    </div>

                    <item_loading v-else></item_loading>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Sweet from "../../../helpers/Sweet";
import Swal from "sweetalert2";
import vSelect from "vue-select";

export default {
    name: "Manage_Orders_Running",
    components:{
        vSelect,
    },
    created() {
        this.GetItems();
    },

    data(){
        return {

            item_loading:false,
            items : [],
            errors:[],
            search:'',


        }
    },

    methods:{
        GetItems(){
            this.item_loading=true;
            axios.get('/api/management/orders/running').then(res => {
                this.item_loading=false;
                this.items=res.data;
            }).catch(error => {
                this.item_loading=false;
                Sweet.SweetServerErrorMessage();
            })
        },
        DelItem(id){
            Swal.fire({
                title: 'آیا مطمئن هستید',
                text: "سفارش مورد نظر را حذف کنید. درصورت حذف ، سفارش غیرقابل بازیابی خواهد بود !",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#26a852',
                cancelButtonColor: '#d33',
                cancelButtonText : 'خیر',
                confirmButtonText: 'حذف شود'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get('/api/management/orders/'+id+'/remove').then(res =>{
                        Sweet.SweetToastMessage(res.data)
                        this.GetItems();
                    }).catch(e=>{
                        Sweet.SweetServerErrorMessage();
                    })
                }
            })
        },



    },

    computed:{
        SearchItem(){
            return this.items.filter(item => {
                return item.code !== null && item.code.match(this.search)
            })

        }
    }
}
</script>

<style scoped>

</style>
